html,body{
    padding:0;
    margin:0;
    background-color: antiquewhite;
}
.title{
    height:150px;
    background: linear-gradient(45deg,orange,brown);
    font-size: 6em;
    color:white;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 3px 4px #000;
}
.wrapper{
    background-color: antiquewhite;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
} 

.add-book{
    background-color: blueviolet;
    color: aliceblue;
    font-size: 1em;
    box-shadow: inset -1px -1px 3px 3px rgb(127, 73, 212);
    margin-top: 30px;
    margin-bottom: 20px;
    height:40px;
    width:80px;
    border-color:blueviolet;
    border-image: none;
    border-radius: 3px;
}
.add-book:hover{
    text-shadow: 1px 1px 2px rgb(98, 93, 93);
}
.add-book:focus{
    outline: none;
}
.form-container{
    visibility:hidden;
}
.form{
    width:200px;
    height:50px; 
    position:relative;
    overflow: hidden;
}
.form input{
    background-color: antiquewhite;
    width:100%; 
    height:100%;
    color:rgb(7, 7, 185);
    padding-top: 20px;
    border:none; 
    outline:none;
    border-bottom: 1px solid black;
    
}

}
.form label{
    position:absolute;
    bottom:0px;
    left:0%;
    width:100%;
    height:100%;
    pointer-events: none;
    border-bottom:1px solid rgb(27, 109, 231); 
}

.form label::after{
    content:"";
    position:absolute;
    left:0px;
    bottom:-1px;
    height:100%;
    width:100%;
    border-bottom:3px solid rgb(61, 133, 221);
    transform:translateX(-100%);
    transition:transform 0.3s ease;
}

.content-name{
    position:absolute;
    bottom:5px;
    left:0px;
    transition:all 0.3s ease;
}

/* + affect any thing below selector */
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
  color:rgb(61, 133, 221);
  font-size: 14px;
  transform: translateY(-20px);
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after
{
    transform: translateX(0%);
}

.library{
    display:flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width:100vw;
    border:1px solid red;
}
.card{
    height:280px;
    width:250px;
    margin:20px;
    /* border:1px solid blue; */
    border-radius: 10px;
    box-shadow: 1px 1px 20px -2px rgba(0, 0,0,0.4);
}

.remove{
    position:relative;
    left:8px;
    top:8px;
    background-color: red;
    color:white;
    border-radius:5px;
}
.header{
    text-align: center;
    font-size: 2em;
}
p{
    text-align: center;
}

.status-btn{
    height:40px;
    width:100px;
    margin-left:70px;
    border-radius:4px;
}

.read{
    background-color: green;
}
.not-read{
    background-color: red;
}

.clear
{
    margin-right:110px;
}
.clear,.add
{
    background-color: blueviolet;
    color: aliceblue;
    border-color:blueviolet;
    border-image: none;
    border-radius: 3px;
}